body {
	box-shadow: inset 0 0 100px #2e0036;
	padding-top: 100px;    /* Padding for .navbar-fixed-top. Change value if navbar height changes. Remove if using .navbar-static-top. */
	color: #fcf482;
	background-color: #230029;
	font-family: "Cormorant Garamond";
	font-weight: bold;
	font-style: normal;
	 
	}
	.cormorant-garamond-light {
		font-family: "Cormorant Garamond", serif;
		font-weight: 300;
		font-style: normal;
	  }
.grinch{color: green !important;
	text-shadow:2px red !important;

}


	
	
.navbar-default{
	font-size: 1.5em;
}
h1{
	font-size: 100%;

}
.btn-primary.active{
	vertical-align: middle;
}

.text-center{
	font-size: 5vw;
	color: #E90808;
	font-weight: bolder;
	text-shadow:3px #2a0d29;
}
h2{
	font-size: 5vw;
	color: #2a0d29 !important;
	font-weight: bolder;
	text-shadow:3px #2a0d29;
}
.text-center-small{
	text-shadow: 2px 2px 6px #331031 ;
	font-size: 5vw;
	width: fit-content;
	color: #4A0202;
	font-weight: bolder;
	text-shadow:2px #331031;
}
.lead ul{
	padding: 10% !important;
}
.text-center li{
	max-width: fit-content;
	
	list-style: inside;
	padding-left: 15px ;
	font-size: 2vw;
	padding-right: auto;
    list-style-position: inside;
	text-justify: auto;
	
}
.nowrapsize{
	font-size: 1vw !important;
}

.item li{
	padding-left: 20%;
	padding-right: auto;
    list-style-position: inside;
	text-justify: auto;
	
}
 h2{
	font-size: 3vw !important ;
	text-shadow:2px #2e0036;
	
}
h3{
	font-size: 3vw !important ;
	text-shadow:2px #2e0036;
	
}
.napoleon{
	background-color: #d6d6d6!important;
}
.napoleon h1{
	text-shadow:2px 2px 3px #2e0036;
	text-shadow:.5px #fff !important;
	color: navy !important;
}
.napoleon p{
	text-shadow: 10px !important;
	text-shadow:.3px #0e0e0e !important;
	color: navy !important;
}
.menu{
	background-color: #fcf482;
	border-width: 5px !important;
	text-align: center !important;
	font-size: 8em;
	color: #E90808;
	font-weight: bolder !important;
	text-shadow:3px #4A0202;
	text-shadow: 4px 4px 2px #CC9900;
	box-shadow: 0 0 10px #2e0036;
	border-radius: 15px;
}
.text-center:hover{
	margin-bottom: 25px !important;
	transform: scale(105%);
}
.lead ul:hover {
	
	padding: 25px;
	margin: 25px;
}


.desc :hover{
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	transform: scale(115%);
}	
.text-center li:hover{
	
	transform: scale(115%);
}	
.lead3{
	font-size: 3vw ;
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
	padding-top: 0px !important;
	margin-top: 0px !important;
}
.desc{
	color: #2e0036 !important;
	padding-left: 15px;
	text-align: left !important;
	text-shadow:.5px #2e0036 !important;
	font-size: 2vw !important;
}

.border{
	border-width: 5px !important;
	border-style: groove !important;
	margin-top: 25px !important;
	padding-left: 50%;
	padding-right: auto;
}
.bordercent{
	border-width: 2px !important;
	border-style: groove !important;
	width: fit-content; 
    height: auto;
    margin: 0 auto;
    padding: 20px;
}
.border{
	border-radius: 10px;
	background-color: #fcf482;
	padding: 10px ;
	border-color: #4A0202 !important;
	border-style: hidden !important;
	box-shadow:  0 0 25px #1a190d inset;
	border-width: 5px !important;
}
.bordercent{
	border-radius: 10px;
	background-color: rgb(249, 242, 147);
	padding-bottom: unset;
	padding: 25px !important ;
	border-color: #4A0202 !important;
	border-style: hidden !important;
	box-shadow:  0 0 15px #1a190d inset;

}
.item{
	text-shadow:1px #4A0202 !important;
	margin: 0 !important;
	padding-bottom: unset !important;
	font-size: 3vw !important;
	text-align: left !important;
	color: #2e0036 !important;
}
.navbar-default .navbar-nav>li>a:focus{
	color: #2e0036;
}

.doordash{
	z-index: 1030;
scale: 75%;
	position:fixed;
	top: 85%;
	bottom: 0%;
	right: 0%;
}

.li:hover{
	scale: 105%;
}
.lead ul{
	
	padding: 25px;
	padding-left: 15px !important;
	font-size: 3em  ;
	margin-bottom:unset;
	color: #2e0036;
	text-shadow:1px #E90808;
}	

.lead {
	padding: 25px;
	padding-top: unset;
	padding-left: 15px !important;
	font-size: 3em  ;
	margin-bottom:unset;
	color: #2e0036;
	text-shadow:1px #E90808;
}	
.lead2 {
	padding-top: 0px !important;
	font-weight: normal !important;
	padding: 25px;
	font-size: 1.75vw  ;
	font-weight: 600 !important;
	color: #2e0036;
	text-shadow:1px #E90808;
	padding-bottom: unset;
}	
.money {
	font-size: 1.25vw !important;
}	
.lead3 {
	text-align: center;
	font-weight: normal !important;
	padding: 25px;
	font-size: 2em  ;
	color: #2e0036;
	text-shadow:1px #E90808;
}	
.lead :hover{

}	
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	color: #dd845a;
	}
	.jumbotron .container:hover{
		transform: translateY(-40px);
	}.jumbotron .container{
		transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68);
	transition: all 2s;

	}
	img:hover{
		transform: scale(110%);
	}img{
		transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68);
	transition: all 1s;
	}
h1{
	text-shadow:
	-2px -2px 1px #2e0036,  
    2px -2px 1px #2e0036,
    -2px 2px 1px #2e0036,
   -1px -1px 1px #2e0036,  
    1px -1px 1px #2e0036,
    -1px 1px 1px #2e0036,
     1px 1px 1px #2e0036,
	 -0px -1px 1px #2e0036,  
    0px -1px 1px #2e0036,
    -0px 1px 1px #2e0036;
}

.jumbotron h1{
	font-weight: bolder;
	color: #E90808;
	padding: unset;
	text-shadow: 0.0px 10.0px 0.02px #2e0036,
	 9.8px 2.1px 0.02px #2e0036,
	  4.2px -9.1px 0.02px #2e0036,
	   -8.0px -6.0px 0.02px #2e0036,
	    -7.6px 6.5px 0.02px #2e0036, 
		4.8px 8.8px 0.02px #2e0036,
		 9.6px -2.8px 0.02px #2e0036,
		  -0.7px -10.0px 0.02px #2e0036, 
		  -9.9px -1.5px 0.02px #2e0036, 
		  -3.5px 9.4px 0.02px #2e0036, 
		  8.4px 5.4px 0.02px #2e0036, 
		  7.1px -7.0px 0.02px #2e0036,
		   -5.4px -8.4px 0.02px #2e0036,
		    -9.4px 3.5px 0.02px #2e0036, 
			1.4px 9.9px 0.02px #2e0036, 
			10.0px 0.8px 0.02px #2e0036, 
			2.9px -9.6px 0.02px #2e0036, 
			-8.7px -4.8px 0.02px #2e0036,
			 -6.6px 7.5px 0.02px #2e0036,
			  5.9px 8.0px 0.02px #2e0036,
			   9.1px -4.1px 0.02px #2e0036, 
			   -2.1px -9.8px 0.02px #2e0036, 
			   -10.0px -0.1px 0.02px #2e0036,
			    -2.2px 9.8px 0.02px #2e0036, 
				9.1px 4.2px 0.02px #2e0036,
				 6.1px -8.0px 0.02px #2e0036, 
				 -6.5px -7.6px 0.02px #2e0036, 
				 -8.8px 4.7px 0.02px #2e0036, 
				 2.7px 9.6px 0.02px #2e0036, 
				 10.0px -0.6px 0.02px #2e0036, 
				 1.5px -9.9px 0.02px #2e0036, 
				 -9.3px -3.6px 0.02px #2e0036, 
				 -5.5px 8.4px 0.02px #2e0036, 
				 7.0px 7.2px 0.02px #2e0036,
				  8.5px -5.3px 0.02px #2e0036, 
				  -3.4px -9.4px 0.02px #2e0036,
				   -9.9px 1.3px 0.02px #2e0036, 
				   -0.8px 10.0px 0.02px #2e0036, 
				   9.6px 2.9px 0.02px #2e0036, 
				   4.9px -8.7px 0.02px #2e0036, 
				   -7.5px -6.7px 0.02px #2e0036,
				    -8.1px 5.9px 0.02px #2e0036,
					 4.0px 9.2px 0.02px #2e0036,
					  9.8px -2.0px 0.02px #2e0036,
					   0.2px -10.0px 0.02px #2e0036,
					    -9.7px -2.3px 0.02px #2e0036,
						 -4.3px 9.0px 0.02px #2e0036,
						  7.9px 6.1px 0.02px #2e0036;


	font-size: 8.5vw;
	font-weight: bolder;
}

.list{
	font-size: 1vw !important;
}
.navbar-nav li .dropdown-menu{width: max-content;}

.sublist{
	width: fit-content;
	margin: 25px;
}
@media screen and (max-width:12e0036px) {
	ul{
		padding-left: 0;
	}
	.text-center li:hover{
		transform: scale(115%);
	}	
	.promo-item h3 {
		color: #E90808;
		text-shadow: .3vw #4A0202;
		font-weight: bolder;
		font-size: 10vw !important;
		display: inline-block;
		vertical-align: middle;
	}
	.text-center-small{
		text-align: center;
		text-shadow: 2px 2px 6px #331031;
		font-size: 3vw;
		color: #4A0202;
		font-weight: bolder;
		text-shadow:2px #331031;
	}
	  }

@media screen and (max-width:400px) {
	.navbar-default .navbar-brand {
		width: 10px;
	  }
	
}
.sublist .active{
	margin: 50px !important;
}
.img-border-big{
	border-style: initial !important;
	border-width: 5px !important;
	border-radius: 15px !important;
	display: block !important;
	  margin-left: auto!important;
	  margin-right: auto!important;
	  width: 75%!important;
	object-fit: scale-down;
}

@media screen and (max-width:500px) {
	.lead3{
		font-size: 5vw !important;
		padding-bottom: 0px;
		margin-bottom: 0px;
		padding-top: 0px;
		margin-top: 0px;
	}
	
	.jumbotron h1   { font-size: 12vw !important;
		font-weight: bolder;
		color: #E90808;
		text-shadow: 0.0px 10.0px 0.02px #2e0036,
	 9.8px 2.1px 0.02px #2e0036,
	  4.2px -9.1px 0.02px #2e0036,
	   -8.0px -6.0px 0.02px #2e0036,
	    -7.6px 6.5px 0.02px #2e0036, 
		4.8px 8.8px 0.02px #2e0036,
		 9.6px -2.8px 0.02px #2e0036,
		  -0.7px -10.0px 0.02px #2e0036, 
		  -9.9px -1.5px 0.02px #2e0036, 
		  -3.5px 9.4px 0.02px #2e0036, 
		  8.4px 5.4px 0.02px #2e0036, 
		  7.1px -7.0px 0.02px #2e0036,
		   -5.4px -8.4px 0.02px #2e0036,
		    -9.4px 3.5px 0.02px #2e0036, 
			1.4px 9.9px 0.02px #2e0036, 
			10.0px 0.8px 0.02px #2e0036, 
			2.9px -9.6px 0.02px #2e0036, 
			-8.7px -4.8px 0.02px #2e0036,
			 -6.6px 7.5px 0.02px #2e0036,
			  5.9px 8.0px 0.02px #2e0036,
			   9.1px -4.1px 0.02px #2e0036, 
			   -2.1px -9.8px 0.02px #2e0036, 
			   -10.0px -0.1px 0.02px #2e0036,
			    -2.2px 9.8px 0.02px #2e0036, 
				9.1px 4.2px 0.02px #2e0036,
				 6.1px -8.0px 0.02px #2e0036, 
				 -6.5px -7.6px 0.02px #2e0036, 
				 -8.8px 4.7px 0.02px #2e0036, 
				 2.7px 9.6px 0.02px #2e0036, 
				 10.0px -0.6px 0.02px #2e0036, 
				 1.5px -9.9px 0.02px #2e0036, 
				 -9.3px -3.6px 0.02px #2e0036, 
				 -5.5px 8.4px 0.02px #2e0036, 
				 7.0px 7.2px 0.02px #2e0036,
				  8.5px -5.3px 0.02px #2e0036, 
				  -3.4px -9.4px 0.02px #2e0036,
				   -9.9px 1.3px 0.02px #2e0036, 
				   -0.8px 10.0px 0.02px #2e0036, 
				   9.6px 2.9px 0.02px #2e0036, 
				   4.9px -8.7px 0.02px #2e0036, 
				   -7.5px -6.7px 0.02px #2e0036,
				    -8.1px 5.9px 0.02px #2e0036,
					 4.0px 9.2px 0.02px #2e0036,
					  9.8px -2.0px 0.02px #2e0036,
					   0.2px -10.0px 0.02px #2e0036,
					    -9.7px -2.3px 0.02px #2e0036,
						 -4.3px 9.0px 0.02px #2e0036,
						  7.9px 6.1px 0.02px #2e0036; }

}
@media screen and (max-width:767px) {
	*
{text-shadow: none !important;}
	.text-center li{
		width: 150vw;
		font-size: 4vw;
		

	}
	.text-center{
		font-size: 10vw !important;
		text-shadow: unset !important ;
	}
	*{
		text-shadow: unset !important;
	}
	.logo{
		width:  25vw  !important;
		height:  25vw !important;
	}
	.navbar-right{

		position: absolute;
		top: 100%;
		right: 0%;
		
		background-color: #4A0202;
		margin-top: 60px;
		
	}
	.promo-item h3 {
		color: #4A0202;
		text-shadow: 2px #fcf482;
		font-weight: bolder;
		font-size: 17vw !important;
		display: inline-block;
		vertical-align: middle;
	}
	
	.dropdown-menu li a {
		display: flex !important;
		padding: unset;
		margin: unset;
		justify-content: center;
	}
	.item{
		
		text-shadow: none !important;
	
	}
	.desc{
		padding-left: 15px;
		text-align: left !important;
		text-shadow: none !important;
		text-shadow:.5px #331031 !important;
		font-size: larger !important;
	}
	.navbar-nav .open .dropdown-menu{
		overflow-x: visible;
		display: block;

	}
	.navbar-toggle{
		margin-top: 30px;
		display: block !important;
		padding: 15px;
	}
	.img-border{
		max-width: fit-content !important;
		max-height: 
		fit-content !important;
	}
	.img-border-big{
		border-style: initial;
		display: block !important;
  		margin-left: auto!important;
  		margin-right: auto!important;
  		width: 90%!important;
		object-fit: scale-down;
	}
	h2{
		font-size: 7vw !important ;
		text-shadow:2px #4A0202;
		
	}
		
	.menu{
		box-shadow:  0 0 10px #1a190d inset;
		text-align: center !important;
		font-size:  16vw;
		text-shadow:2px #4A0202;
	}
	.col-xs-6 h1{
		font-size: 7vw !important;
		font-weight: bolder;
	}
	
	 .lead{
		
		text-shadow: none !important;
		font-size: 7vw !important;
		font-weight: bolder;
	}
	.text-center{
		
		font-size: 4vw;
		font-weight: bolder;
	}
	
	
	.navbar-default .navbar-nav>.open>a{
		border-radius: 10px;
		padding-bottom: 15px !important;
		padding-top: 5px !important;
		background-color: #4A0202!important;
	}
	.navbar-default .navbar-nav>.open>a:hover{
		border-radius: 10px;
		background-color: #4A0202!important;
	}.navbar-default .navbar-nav>.open>a:focus{
		border-radius: 10px;
		background-color: #4A0202!important;
	}
	.navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
		border-radius: 10px;
		color: #fcf482;
		background-color: #4A0202 ;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		margin: unset !important;
	}
	.collapse.in{
		display: inline-flexbox;
	}
	
	.nav li{
		padding: 10px !important;
		text-align: center;
		width: auto;
		font-size: 5vw;
		align-self: center !important; 
		align-content: center !important;
		margin: 5px;
		padding: 5px;
	}
	.dropdown.open{
		padding-bottom: 5px !important;
		margin-bottom: 5px !important;
	}
	.dropdown-menu{
		background-color: #331031 !important;
		border-radius: 10px !important;
	}
	.sublist{
		width: fit-content;
		overflow: visible !important;
		background-color:inherit !important;
		padding: unset !important;
		margin: 10px !important;
		font-size: .7em;
	}
	.navbar-nav .open .dropdown-menu .nav li{
		padding: unset !important;
		margin: unset !important;
		font-size: .7em;
	}
	.navbar-nav{
		width: auto !important;
		padding: unset !important;
		margin: unset !important;
	}
	.navbar-collapse.in{
		overflow: -moz-hidden-unscrollable !important;
	}
	
	.dropdown-menu .nav li{
		padding: unset !important;
		margin: unset !important;
		font-size: .7em;
	}
	.navbar-collapse{
		max-height: fit-content !important;
		padding: 0 !important;
		margin: 0 !important;
		justify-content: center;
	}
	.navbar-collapse.in{
		overflow-y: visible !important;
		overflow-x: visible !important;
	}
	.navbar-default .navbar-toggle{
		border-color: #fcf482;
	}
	.open .dropdown-menu>li>a {
		padding: 50px px 0 0 !important ;
	}
	.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 12e0036;
    display: none;
    float: left;
    min-width: 0;
    padding: 0px 0;
    margin: 0px 0 0;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a{
		font-size: 5svw;
		border-radius: 0px !important;
		height: fit-content;
		display: flex !important;
		text-align: left;
	}
	.navbar-nav .open .dropdown-menu{
		position: static;
        float: none;
        width: fit-content;
        margin-top: 0px;
        background-color: transparent !important;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
		background-color: #E90808;
	}
	.navbar-default .navbar-toggle .icon-bar{
		background-color: #fcf482;
	}

	.navbar-right{
		height: fit-content !important;
		padding: 25px;
		overflow: visible !important;
		margin-top: 0 !important;
		width: fit-content;
		border-radius: 25px;
		background-color: #2e0036 !important;
		box-shadow:  0 0 25px #17001b inset;
		font-size: .6em !important;
	}
	.navbar-default{
		height: 115px !important;
	}
	.jumbotron h1   { font-size: 14vw !important;
		font-weight: bolder;
		text-shadow-width: 3px !important; }
	
	.navbar-default .navbar-brand{
		width: fit-content;
		padding: 0;
		margin-left: 0;
	}}
@media screen and (max-width:900px) {
	.lead2{
		
		font-size: 4vw !important;
	}
	.navbar-default .navbar-nav li a {
		all: unset;
		font-size: 1.4em;
		font-weight: normal;
		text-shadow: 1px #fcf482;
		text-shadow: 1px 1px 3px #fcf482;
		color: #fcf482 !important;
	}
	.col-xl-12{
		margin-top: 50px;
		margin-left: 25px !important;
		margin-right:25px !important;
		background-color: #fcf482;
		border-color: #4A0202;
		border-style: initial;
		border-width: 5px !important;
		border-radius: 15px;
	}

	.jumbotron h1   { 
		text-shadow: 0.0px 10.0px 0.02px #2e0036, 9.8px 2.1px 0.02px #2e0036, 4.2px -9.1px 0.02px #2e0036, -8.0px -6.0px 0.02px #2e0036, -7.6px 6.5px 0.02px #2e0036, 4.8px 8.8px 0.02px #2e0036, 9.6px -2.8px 0.02px #2e0036, -0.7px -10.0px 0.02px #2e0036, -9.9px -1.5px 0.02px #2e0036, -3.5px 9.4px 0.02px #2e0036, 8.4px 5.4px 0.02px #2e0036, 7.1px -7.0px 0.02px #2e0036, -5.4px -8.4px 0.02px #2e0036, -9.4px 3.5px 0.02px #2e0036, 1.4px 9.9px 0.02px #2e0036, 10.0px 0.8px 0.02px #2e0036, 2.9px -9.6px 0.02px #2e0036, -8.7px -4.8px 0.02px #2e0036, -6.6px 7.5px 0.02px #2e0036, 5.9px 8.0px 0.02px #2e0036, 9.1px -4.1px 0.02px #2e0036, -2.1px -9.8px 0.02px #2e0036, -10.0px -0.1px 0.02px #2e0036, -2.2px 9.8px 0.02px #2e0036, 9.1px 4.2px 0.02px #2e0036, 6.1px -8.0px 0.02px #2e0036, -6.5px -7.6px 0.02px #2e0036, -8.8px 4.7px 0.02px #2e0036, 2.7px 9.6px 0.02px #2e0036, 10.0px -0.6px 0.02px #2e0036, 1.5px -9.9px 0.02px #2e0036, -9.3px -3.6px 0.02px #2e0036, -5.5px 8.4px 0.02px #2e0036, 7.0px 7.2px 0.02px #2e0036, 8.5px -5.3px 0.02px #2e0036, -3.4px -9.4px 0.02px #2e0036, -9.9px 1.3px 0.02px #2e0036, -0.8px 10.0px 0.02px #2e0036, 9.6px 2.9px 0.02px #2e0036, 4.9px -8.7px 0.02px #2e0036, -7.5px -6.7px 0.02px #2e0036, -8.1px 5.9px 0.02px #2e0036, 4.0px 9.2px 0.02px #2e0036, 9.8px -2.0px 0.02px #2e0036, 0.2px -10.0px 0.02px #2e0036, -9.7px -2.3px 0.02px #2e0036, -4.3px 9.0px 0.02px #2e0036, 7.9px 6.1px 0.02px #2e0036 !important; }
  }
.jumbotron{
	position: relative;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 1);
	
	transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68);
	transition: 3s;
}
.jumbotron:hover{	
	color: #4A0202;
}


	.feature {
		
	background: url('../images/bar.jpg');
	background-position: top right;
	background-size: cover;
	background-color: #2e0036;
	color: #4A0202;
	text-shadow: 3px #2e0036;
		
	text-align: center;
	text-shadow: 10px 10px 13px black;
	padding: 7%;
	padding-bottom: 2%;
	}
	.feature:hover {
		
	
		}

.feature .btn {
	text-shadow: none;
	}
	
.promo, .footer-map {
	border-width: 1px;
	border-color: black;
	border-top-style: solid;
	border-bottom-style: solid;
	margin-top: 20px;
	margin-bottom: 20px;
	}

.promo,
.promo h3,
.promo a:link,
.promo a:visited,
.promo a:hover,
.promo a:active {
    color: white;
	text-shadow: 1px 1px 8px black;
    text-decoration: none;
}

.active{

	color: #E90808 !important;
}
.active:hover{
	
	color: #E90808 !important;
}

.promo-item {
    height: 200px;
    line-height: 180px;
    text-align: center;
}

.promo-item:hover {
    background-size: 110%; 
    border: 5px solid rgb(255, 255, 255);
    line-height: 170px;
}

.promo-item h3 {
	color: #E90808;
	-webkit-text-stroke: 5px #2e0036;
	font-weight: bolder;
    font-size: 6vw !important;
    display: inline-block;
    vertical-align: middle;
}

.item-1 {
	background: url('../images/breakfast.jpg');
	}
	
.item-2 {
	background: url('../images/coffee_beans_1.jpg');
	}
	
.item-3 {
	background: url('../images/icecream.jpg');
	}
		
.item-1,
.item-2,
.item-3 {
	font-size: 5vw !important;
	background-size: cover;
	background-position: 50% 50%;
	}

.featured-product > img,
.featured-product > a > img {
	height: 150px;
}

.featured-product h3 {
	color: #dd845a;
	font-size: 18px;
	}

.featured-product .price {
	color: #dd845a;
	font-size: 18px;
	}
	
.featured-product .price s {
	color: #999;
	font-size: 18px;
	}
	
.footer-map {
	height: 300px;
	width: 100%;
	background: url('../images/map.jpg');
	background-size: cover;
	border-color: #ccc;
	}
.footer-info {
    padding: 20px 0;
    background: #f7f7f7;
}

.footer-info,
.footer-info a:link,
.footer-info a:hover,
.footer-info a:focus,
.footer-info a:visited {
    color: #e62424;
	}

.footer-info h3 {
	color: black;
	font-size: 18px;
	}
    
.footer-info-item {
    padding: 0px 20px;
    }
    
footer .small-print {
	background-color: #fff;
	padding: 30px 0;
	text-align: center;
}


/*
*************************** 
Override Bootstrap Classes 
***************************
*/

/* Links */
img{
	filter: drop-shadow(5px 5px 5px #230029);
	color: #2e0036;
}
a {
  color: #E90808;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #4A0202;
  text-decoration: underline;
}
.wrap{
	float: left; 
	padding: 3vw;
   margin: 5px;
   height: 70%;
   width: 70%;
}

/* Navbar */

.dropdown.open{
	background-color: unset;
	

}
.navbar-default .navbar-nav>.open>a{
	border-radius: 10px;
	padding-top: 10px !important;
	background-color: unset!important;
}
.navbar-default .navbar-nav>.open>a:hover{
	border-radius: 10px;
	color: #fcf482 !important;
	text-shadow-color: #4A0202;
	background-color: unset!important;
}.navbar-default .navbar-nav>.open>a:focus{
	border-radius: 10px;
	color: #fcf482 !important;
	background-color: unset!important;
}
.navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	border-radius: 10px;
	color: #E90808 !important;
	text-shadow-width: .4px;
	text-shadow-color: #4A0202;
	background-color: unset ;
}
.col-xl-12{
	margin-top: 50px;
	margin-left: 150px;
	margin-right: 150px;
	background-color: #fcf482;
	border-color: #4A0202;
	border-style: initial;
	border-width: 5px !important;
	border-radius: 15px;
}
.navbar-default .navbar-nav .active a{
	all: unset;
	color: #E90808 !important;
	height: inherit !important;
	width: inherit !important;
	border-radius: 10px !important;

	font-size: 1.4em;
	font-weight: normal;
	
	text-shadow: 1px #E90808!important;
	text-shadow: 1px 1px 3px #2e0036 ;
	background-color: unset !important;
}
.img-border{
	width: 175px;
	border-radius: 10px;
	background-color: #fcf482;
	border: #4A0202 !important;
	border-style: initial !important;
	border-width: 5px !important;
}

@media screen and (max-width:900px) {
	.promo-item h3 {
		color: #E90808;
		-webkit-text-stroke: 5px #2e0036;
		font-weight: bolder;
		font-size: 12vw !important;
		display: inline-block;
		vertical-align: middle;
	}
	
	
	
	.navbar-default .navbar-nav .active a:hover{
	
		font-size: 1.4em;
		font-weight: normal;
		text-shadow: 1px #E90808;
		text-shadow: 1px 1px 1px #fcf482 ;
		color: #E90808;
	}
	.navbar-default .navbar-nav li a{
		all: unset;
		padding: 15px;
		font-size: 1.4em;
		font-weight: normal;
		text-shadow: 1px #E90808;
		text-shadow: 1px 1px 1px #fcf482;
		color: #E90808 !important;
	}
	.navbar-default .navbar-nav li a:hover{
		font-size: 1.4em;
		font-weight: 150;
		text-shadow: 1px #E90808;
		text-shadow: 1px 1px 1px #fcf482;
		color: #E90808;
	}

}
 a:hover{
	cursor: pointer !important;
}
.navbar-default .navbar-nav .active a:hover{
	
	font-size: 1.4em;
	font-weight: normal;
	text-shadow: 1px #E90808;
	text-shadow: 1px 1px 5px #E90808 ;
	color: #E90808 !important;
}
.navbar-nav>li>a{
	padding-left: 10px !important;
	padding-right: 10px !important;

}
.dropdown-menu li a{
	word-break: keep-all;
	width: fit-content;
}
.navbar-default .navbar-nav li a{
	all: unset;
	
	font-size: 1.4em;
	font-weight: normal;
	text-shadow: 1px #fcf482;
	text-shadow: 1px 1px 3px #fcf482;
	color: #fcf482 !important;
}
.navbar-default .navbar-nav li a:hover{
	font-size: 1.4em;
	font-weight: 150;
	text-shadow: 1px #E90808;
	text-shadow: 1px 1px 3px #E90808;
	color: #E90808 !important;
}




.navbar-nav li .dropdown-menu{
	box-shadow: 0 0 25px #2e0036 inset;
	border-radius: 25px !important;
	background-color: #17001b;
}

 .text-center ul  {
	padding-left: 0;
  }
  .text-center ul li {
	 list-style-position: inside;
  }



.navbar-right{
	margin-top: 3%;
	margin-bottom: 3%;
}
 @media screen and (max-width:1200px) {

	.navbar-right{
		margin-top: 4%;
		margin-bottom: 4%;
	}}
	@media screen and (max-width:992px) {

		.navbar-right{
			margin-top: 5%;
			margin-bottom: 5%;
		}
	
	} 
.navbar-default {
	box-shadow: inset 0 0 25px #2e00362e0036;
	border-width: 0px;
	border-bottom-width: 3px;
	border-top-width: 3px;
	border-color: #E90808;
	padding-bottom: 0;
	height: 110px;
  background-color: #450052;
}
.navbar-default .navbar-brand {
  color: #dd845a;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: sienna;
  background-color: transparent;
}

/* Primary Buttons */
.btn-primary {
  color: #e62424;
  background-color: orange;
  border-color: orange;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}
.btn-primary:hover {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}
.small-print{color: #E90808;

}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: sandybrown;
  border-color: sandybrown;
}
.desc ul{
	width:75% !important;
	display:block !important;
}
.desc li { 
	float: none;
	
	display:block !important;

	width: fit-content !important; }
.lead ul{

}